html, body {
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column ;
  height: auto;
}

.main-window {
  width: 300px;
  height: auto;
  padding: 0px;
  flex: 1;
  margin: auto;
}

.main-window h3 {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  margin: 10px;
}

.main-window .head-text a {
  text-decoration: none;
  color: black;
}

.input-form {
  margin: 20px;
  text-align: center;
}

.input-form table {
  text-align: right;
}

.input-form td input {
  border: 2px ridge #8a8a8a;
}

.input-form td a {
  font-size: 10px;
}

.input-form .sign-in {
  background-color: black;
  background: linear-gradient(to top, #615d5e, #8b8b8b);
  border-radius: 20px;
  color: white;
  padding: 10px 15px;
}

.input-form .social input {
  width: 125px;
  height: 30px;
}

.input-form .hrefs {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tutorial {
  background-color: #FFFFFF; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  padding-top: 0px;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float:right;
}

.playlists {
  font-size: 15px;
  padding-left: 20px;
  padding-top: 5px;
  overflow: auto;
}

.playlists ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  /*margin-bottom: 120px;*/
}

.playlists li {
  width: 97%;
  /*margin-right: 1%;*/
  display: table;
  height: 25px;
}

.playlists li input{
  width: 85%;
}

.playlists li img{
  float: right;
  height: 20px;
  width: auto;
}

.table_custom {
  display: table;
  margin-left: 20px;
}

.table_cell {
  display: table-cell;
}

.pl_num {
  padding-left: 3px;
}
/*.playlists .info {
  margin-top: 10px;
  font-size: 10px;
}*/

.playlists .table_cell {
  display: table-cell;
}

.bottom_piece {
  width: 100%;
  height: 20%;
  flex: 0;
  margin-top: auto;
}

.bottom_piece .add_playlist {
  border-right: 1px solid black;
  float: left;
  padding: 0px 30px;
  padding-top: 5px;
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.bottom_piece .add_playlist:hover {
  cursor:	pointer;
}

.bottom_piece .bottom_menu {
  margin-top: auto;
  bottom: 0px;
  height: 40px;
}

.add_playlist_img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: left;
}

.open_playlist_img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  transform: rotate(0.75turn);
  cursor:	pointer;
}

.add_playlist_text {
  margin-bottom: 5px;
  float: right;
}

.logout {
  background-color: #FFFFFF; /* Green */
  border: none;
  color: black;
  padding: 0px 15px;
  padding-right: 20px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float:right;
}

.edit_btn {
  float: right;
}

.pagi-link {
  display: inline-block;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.2em;
  color: #2a2a2a;
  padding: 10px 10px;
  margin-top: 10px;
  border-top: 1px solid #000000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.pagi-link:hover {
  color: #7DA70D;
  border-color: #7DA70D;
}
.pagi-link .active {
  color: #7DA70D;
  border-color: #7DA70D;
  cursor: default;
}

.pag_base .table_custom {
  margin-left: auto;
  margin-right: auto;
}

.pag_base .text{
  margin-bottom: 15px;
}

.pag_base img{
  height: 20px;
  width: auto;
  margin: 0px 10px;
  bottom: 0px;
}
